
<div *ngIf="transaction">
    <h2><span jhiTranslate="incomeCalculatorApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.value">Value</span></dt>
        <dd>
            <span>{{transaction.value}}</span>
        </dd>
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.description">Description</span></dt>
        <dd>
            <span>{{transaction.description}}</span>
        </dd>
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.date">Date</span></dt>
        <dd>
            <span>{{transaction.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'incomeCalculatorApp.TransactionType.' + transaction.type}}">{{transaction.type}}</span>
        </dd>
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.user">User</span></dt>
        <dd>
            {{transaction.user?.login}}
        </dd>
        <dt><span jhiTranslate="incomeCalculatorApp.transaction.category">Category</span></dt>
        <dd>
            <div *ngIf="transaction.category">
                <a [routerLink]="['/category', transaction.category?.id]">{{transaction.category?.title}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
