<div class="row">
    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4" *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}">Welcome, {{account.login}}!</h1>
                <jhi-trans-data></jhi-trans-data>
            </div>

            <div *ngSwitchCase="false">
                <h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>
                <button type="button" (click)="login()" class="btn btn-primary" jhiTranslate="global.messages.info.authenticated.link">sign in</button>
                <button type="button" routerLink="register" class="btn btn-secondry" jhiTranslate="global.messages.info.register.link">Register a new account</button>
            </div>
        </div>
    </div>
</div>
